.mt-1 {
  margin-top: 1em !important;
}

.mb-3 {
  margin-bottom: 3em !important;
}

.ml-3 {
  margin-left: 3em !important;
}

.hide {
  display: none;
}

.ui.button.floatingButton {
  padding: 0px;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  position: absolute;
  bottom: 30px;
  right: 30px;
  background-color: var(--amplify-primary-color);
  color: var(--amplify-secondary-contrast);
}

.ui.button.floatingButton:hover {
  background-color: var(--amplify-primary-color);
}

.floatingButton_icon {
  margin: 0px !important;
  padding: 0px !important;
}

.ui.dimmer {
  padding: 0 !important;
}
